* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.main video {
    position :relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.logoMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoMenu h2 {
    color: white;
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}

.logoMenu img {
    position: absolute;
    right: 40px;
    top: 50px;
    width: 30px;
    height: 30px;
    filter: invert(1);
    z-index: 10;
}

.text {
    position: absolute;
    width: 100%;
    color: white;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    justify-content: center;
    z-index: 10;
}

.text h1 {
    font-size: 60px;
    margin-bottom: 20px;
    z-index: 10;
}

.text p {
    font-size: 30px;
    margin-bottom: 40px;
    z-index: 10;
}

.text a {
    text-decoration: none;
    color: black;
    font-size: bold 18px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    z-index: 10;
    transition: 0.4s;
}

@media screen and (min-width: 350px) and (max-width: 800px) {
    .logoMenu h2 {
        font-size: 25px;
    }

    .text h1 {
        font-size: 40px;
        padding-left: 50px;
    }

    .text p {
        font-size: 20px;
    }

    .main video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: relative;
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .logoMenu h2 {
        font-size: 25px;
    }

    .text h1 {
        font-size: 40px;
        padding-left: 70px;
    }

    .text p {
        font-size: 20px;
        padding-left: 50px;
    }

    .main video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: relative;
    }
}

.text a:hover {
    background-color: black;
    color: white;
}

.social {
    position: absolute;
    bottom: 40px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transform: translateX(-50%);
    z-index: 10;
}

.social img {
    width: 30px;
    height: 30px;
    filter: invert(1);
    cursor: pointer;
    transition: 0.4s;
    z-index: 10;
}

.social img:hover {
    transform: translateY(-8px);
}